minimserver.lastIndexTags = Artist, Date, Genre, All Artists, Composer
minimserver.tagOptions = Album.sortTags\={Album, Artist}
minimserver.systemUpdateID = 5
minimserver.previousAlbumArtistDisplayRole = true
minimserver.tagCustom = AlbumArtist.displayRole\={artist}, Composer.displayRole\={artist}
minimserver.alphaGroup = albums\=20, Artist\=20, Composer
minimserver.configVersion = 0.8.307
minimserver.contentDir = /media
